{
  "openapi": "3.0.4",
  "info": {
    "title": "Revel Digital REST API",
    "description": "Provides REST based access to your Revel Digital account",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.reveldigital.com"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Gets account details.",
        "description": "",
        "operationId": "GetAccount",
        "responses": {
          "200": {
            "description": "Returns account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "If the account API key is invalid"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Updates an account.",
        "description": "",
        "operationId": "PutAccount",
        "requestBody": {
          "description": "Account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "If the account API key is invalid"
          },
          "201": {
            "description": "If account was updated successfully"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/account/organizations": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Gets organizations.",
        "description": "",
        "operationId": "GetOrganizations",
        "responses": {
          "200": {
            "description": "Returns list of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "If the account API key is invalid"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets all devices in an account.",
        "operationId": "GetDevices",
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "description": "Unique identifier for the device.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Maximum number of items to retrieve in a query.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Current page number for paginated results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "DeviceTypeId",
            "in": "query",
            "description": "Unique identifier for the type of device.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GroupId",
            "in": "query",
            "description": "List of unique identifiers for media groups to filter by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "GroupName",
            "in": "query",
            "description": "Collection of group names to filter by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "IncludeSnap",
            "in": "query",
            "description": "Include the snapshot of the currently playing content. JPG format, base64 encoded.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "OrgId",
            "in": "query",
            "description": "Unique identifier for an organization to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsOnline",
            "in": "query",
            "description": "Filter devices by their online status.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Registers a new device.",
        "operationId": "PostDevice",
        "parameters": [
          {
            "name": "activation_code",
            "in": "query",
            "description": "Activation code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Device",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/devices/{id}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets a device by ID.",
        "operationId": "GetDeviceById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Updates a device.",
        "operationId": "PutDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Device",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete a device.",
        "operationId": "DeleteDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Devices"
        ],
        "summary": "Patch a device. Patch allows partial updates by targeting specific properties of the device.\r\nUses the JSON Patch syntax (http://jsonpatch.com)",
        "operationId": "PatchDevice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/devices/groups": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets device groups in the account.",
        "operationId": "GetDeviceGroups",
        "parameters": [
          {
            "name": "tree",
            "in": "query",
            "description": "Optional hierarchical data format",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Optional group id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create a new device group.",
        "operationId": "PostDeviceGroup",
        "requestBody": {
          "description": "Device group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/devices/groups/{id}": {
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "Updates a device group.",
        "operationId": "PutDeviceGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Device group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "summary": "Delete a device group.",
        "description": "Group must be empty.",
        "operationId": "DeleteDeviceGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device group Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/devices/pingdata": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets device ping data by registration key.",
        "operationId": "GetPingData",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Registration key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingData"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/devices/{registrationKey}/snap": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets current snapshot of the device screen.",
        "operationId": "GetSnapshot",
        "parameters": [
          {
            "name": "registrationKey",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/devices/{registrationKey}/pingdata": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Gets device ping data by registration key.",
        "operationId": "GetDevicePingData",
        "parameters": [
          {
            "name": "registrationKey",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingData"
                }
              }
            }
          }
        }
      }
    },
    "/devices/commands": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a collection of commands to devices.",
        "operationId": "PostDevicesCommands",
        "requestBody": {
          "description": "Command set",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DeviceCommand"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/devices/{id}/commands": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a collection of commands to a specific device.",
        "operationId": "PostDeviceCommands",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Commands",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/devices/{id}/track": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create an event associated with a device.",
        "operationId": "PostEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Event",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/media": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Gets all media in an account.",
        "operationId": "GetMedia",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional Media Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Optional media group Id",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "group_name",
            "in": "query",
            "description": "Optional group name to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Media"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Uploads new media asset.",
        "description": "POST body must be in multipart/form-data format",
        "operationId": "PostMediaMultipart",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The media file",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string",
                    "description": "The media name"
                  },
                  "group_id": {
                    "type": "string",
                    "description": "The group id"
                  },
                  "tags": {
                    "type": "string",
                    "description": "The tags associated with this media"
                  },
                  "advertiser_id": {
                    "type": "string",
                    "description": "The advertiser id. Optional"
                  },
                  "is_shared": {
                    "type": "boolean",
                    "description": "Is this media shared with other accounts"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start date for this media",
                    "format": "date-time"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The end date for this media",
                    "format": "date-time"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                },
                "name": {
                  "style": "form"
                },
                "group_id": {
                  "style": "form"
                },
                "tags": {
                  "style": "form"
                },
                "advertiser_id": {
                  "style": "form"
                },
                "is_shared": {
                  "style": "form"
                },
                "start_date": {
                  "style": "form"
                },
                "end_date": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Media"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/media/{id}": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Gets media item by ID.",
        "operationId": "GetMediaById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Media Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Media"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Media"
        ],
        "summary": "Update media asset properties.",
        "operationId": "PutMedia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Media Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Media"
        ],
        "summary": "Patch a media item. Patch allows partial updates by targeting specific properties of the schedule.\r\nUses the JSON Patch syntax (http://jsonpatch.com)",
        "operationId": "PatchMedia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Media Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Patch update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Media"
        ],
        "summary": "Delete media asset.",
        "operationId": "DeleteMedia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/media/groups": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Gets media groups.",
        "operationId": "GetMediaGroups",
        "parameters": [
          {
            "name": "tree",
            "in": "query",
            "description": "Optional hierarchical data format",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Optional group id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Create a new media group.",
        "operationId": "PostMediaGroup",
        "requestBody": {
          "description": "Media group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/media/groups/{id}": {
      "put": {
        "tags": [
          "Media"
        ],
        "summary": "Updates a media group.",
        "operationId": "PutMediaGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Media group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Media"
        ],
        "summary": "Delete a media group.",
        "description": "Group must be empty.",
        "operationId": "DeleteMediaGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Media group Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/media/{group_id}/{file_name}": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Uploads new media asset.",
        "description": "POST body should contain raw binary media file",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_name",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shared",
            "in": "query",
            "description": "Optional media sharing",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Optional start date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Optional end date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "advertiser_id",
            "in": "query",
            "description": "Optional advertiser user Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optional media name. Overrides the uploaded name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Optional media tags",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Media"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/media/import": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Import a file from a URL.",
        "operationId": "PostMediaImport",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL of the file to import",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Media group Id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the newly created media",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Media"
                }
              }
            }
          },
          "400": {
            "description": "If the API key is invalid or upload was not supplied"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/playlists": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Gets all playlists in an account.",
        "description": "",
        "operationId": "GetPlaylists",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional playlist Id to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "group_name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of playlists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Playlist"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Create a new playlist.",
        "operationId": "PostPlaylist",
        "requestBody": {
          "description": "Playlist to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Playlist"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly-created playlist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          },
          "400": {
            "description": "If the playlist is null or invalid"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/playlists/{id}": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Gets a playlist by ID.",
        "description": "",
        "operationId": "GetPlaylistById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Playlist Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the playlist matching the ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Playlists"
        ],
        "summary": "Put a playlist. Replaces a playlist with the one provided.",
        "operationId": "PutPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Playlist Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Playlist",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Playlist"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Playlists"
        ],
        "summary": "Delete a playlist.",
        "operationId": "DeletePlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Playlist Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Playlists"
        ],
        "summary": "Patch a playlist. Patch allows partial updates by targeting specific properties of the playlist.\r\nUses the JSON Patch syntax (http://jsonpatch.com)",
        "operationId": "PatchPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Playlist Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Patch document",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/playlists/groups": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "summary": "Gets playlist groups in the account.",
        "description": "",
        "operationId": "GetPlaylistGroups",
        "parameters": [
          {
            "name": "tree",
            "in": "query",
            "description": "Optional hierarchical data format",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Optional group id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of playlist groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Create a new playlist group.",
        "operationId": "PostPlaylistGroup",
        "requestBody": {
          "description": "Playlist group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly-created item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "If the item is null"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/playlists/groups/{id}": {
      "put": {
        "tags": [
          "Playlists"
        ],
        "summary": "Updates a playlist group.",
        "operationId": "PutPlaylistGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Device group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Playlists"
        ],
        "summary": "Delete a playlist group.",
        "description": "Group must be empty.",
        "operationId": "DeletePlaylistGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Playlist group Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/adhawk/impressions-by-gender": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "GetImpressionsByGenderReport",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/adhawk/impressions-by-hour": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "GetImpressionsByHourReport",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Duration interval to generate the report for",
            "schema": {
              "$ref": "#/components/schemas/IntervalType"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Type of metric to run the report on",
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/adhawk/impressions-by-age": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "GetImpressionsByAgeReport",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Duration interval to generate the report for",
            "schema": {
              "$ref": "#/components/schemas/IntervalType"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Type of metric to run the report on",
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/adhawk/device-detail": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "GetDeviceDetailReport",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Duration interval to generate the report for",
            "schema": {
              "$ref": "#/components/schemas/IntervalType"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Type of metric to run the report on",
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/adhawk/gender-detail": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "GetGenderDetailReport",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Duration interval to generate the report for",
            "schema": {
              "$ref": "#/components/schemas/IntervalType"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Type of metric to run the report on",
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/adhawk/device-summary": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "GetDeviceSummaryReport",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Duration interval to generate the report for",
            "schema": {
              "$ref": "#/components/schemas/IntervalType"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Type of metric to run the report on",
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/adhawk/device-heatmap": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "GetDeviceHeatmapReport",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Duration interval to generate the report for",
            "schema": {
              "$ref": "#/components/schemas/IntervalType"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Type of metric to run the report on",
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/adhawk/device-geolocation": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "GetDeviceGeolocationReport",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Duration interval to generate the report for",
            "schema": {
              "$ref": "#/components/schemas/IntervalType"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Type of metric to run the report on",
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Returns a list of reports available for export.",
        "operationId": "GetReportById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional report id filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/export": {
      "post": {
        "tags": [
          "Report"
        ],
        "summary": "Generate and export a report.",
        "parameters": [
          {
            "name": "exclude_body",
            "in": "query",
            "description": "Exclude the generated report body in the response. This report is always available at the URL provided in the X-RevelDigital-GeneratedReportUrl header value.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Report parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportExportPostBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/report/export/{report_id}": {
      "get": {
        "tags": [
          "Report"
        ],
        "operationId": "ExportReport",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FormatType"
            }
          },
          {
            "name": "activity_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Duration interval to generate the report for",
            "schema": {
              "$ref": "#/components/schemas/IntervalType"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "media_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/schedules": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Gets schedules in an account.",
        "operationId": "GetSchedules",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional schedule Id to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Optional schedule group Id",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "group_name",
            "in": "query",
            "description": "Optional group name to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "device_id",
            "in": "query",
            "description": "Optional schedule Id to filter by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Schedules"
        ],
        "summary": "Creates a new schedule.",
        "operationId": "PostSchedule",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/schedules/{id}": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Gets a schedule by ID.",
        "operationId": "GetScheduleById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Schedules"
        ],
        "summary": "Update schedule.",
        "operationId": "PutSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Schedules"
        ],
        "summary": "Patch a schedule. Patch allows partial updates by targeting specific properties of the schedule.\r\nUses the JSON Patch syntax (http://jsonpatch.com)",
        "operationId": "PatchSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Patch update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Schedules"
        ],
        "summary": "Delete a schedule.",
        "operationId": "DeleteSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/schedules/groups": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Gets schedule groups in the account.",
        "operationId": "GetScheduleGroups",
        "parameters": [
          {
            "name": "tree",
            "in": "query",
            "description": "Optional hierarchical data format",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Optional group id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Schedules"
        ],
        "summary": "Create a new schedule group.",
        "operationId": "PostScheduleGroup",
        "requestBody": {
          "description": "Schedule group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/schedules/groups/{id}": {
      "put": {
        "tags": [
          "Schedules"
        ],
        "summary": "Updates a schedule group.",
        "operationId": "PutScheduleGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule group Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Schedule group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Schedules"
        ],
        "summary": "Delete a schedule group.",
        "description": "Group must be empty.",
        "operationId": "DeleteScheduleGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Schedule group Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Gets all templates in an account.",
        "description": "",
        "operationId": "GetTemplates",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional template id to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Optional template group Id",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "group_name",
            "in": "query",
            "description": "Optional group name to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/templates/{id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Gets a template by ID.",
        "description": "",
        "operationId": "GetTemplateById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the template matching the ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "Delete a template.",
        "operationId": "DeleteTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/templates/groups": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Gets template groups in the account.",
        "description": "",
        "operationId": "GetTemplateGroups",
        "parameters": [
          {
            "name": "tree",
            "in": "query",
            "description": "Optional hierarchical data format",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Optional template id to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of playlist groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a new template group.",
        "operationId": "PostTemplateGroup",
        "requestBody": {
          "description": "Template group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly-created item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "If the item is null"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/templates/groups/{id}": {
      "put": {
        "tags": [
          "Templates"
        ],
        "summary": "Updates a template group.",
        "operationId": "PutTemplateGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Template group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "Delete a template group.",
        "description": "Group must be empty.",
        "operationId": "DeleteTemplateGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template group Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets all users in an account.",
        "description": "",
        "operationId": "GetUsers",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional User Id to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Optional number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional number of page to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets a user by ID.",
        "description": "",
        "operationId": "GetUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Template Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the user matching the ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "webapi"
            ]
          },
          {
            "ApiKeyInHeader": [ ]
          },
          {
            "ApiKeyInQuery": [ ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The account id",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The account name",
            "nullable": true
          },
          "tags": {
            "type": "string",
            "description": "Tags associated with this account",
            "nullable": true
          },
          "business_name": {
            "type": "string",
            "description": "The business name",
            "nullable": true
          },
          "address_1": {
            "type": "string",
            "description": "The address line 1",
            "nullable": true
          },
          "address_2": {
            "type": "string",
            "description": "The address line 2",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "The city",
            "nullable": true
          },
          "state": {
            "type": "string",
            "description": "The state",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "description": "The postal code",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "The country",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "description": "The phone number",
            "nullable": true
          },
          "fax": {
            "type": "string",
            "description": "The fax number",
            "nullable": true
          },
          "primary_contact_id": {
            "type": "string",
            "description": "The primary contact user id",
            "nullable": true
          },
          "secondary_contact_id": {
            "type": "string",
            "description": "The secondary contact user id",
            "nullable": true
          },
          "created_on": {
            "type": "string",
            "description": "The created on date",
            "format": "date-time",
            "nullable": true
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "description": "The logo url",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Account model"
      },
      "Beacon": {
        "type": "object",
        "properties": {
          "distance": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "calibration": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "rating": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "uuid": {
            "type": "string",
            "nullable": true
          },
          "major": {
            "type": "string",
            "nullable": true
          },
          "minor": {
            "type": "string",
            "nullable": true
          },
          "notification_delay": {
            "type": "integer",
            "format": "int32",
[...]
